<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<body>
<div th:fragment="card-document (documents)">
    <h4 th:if="${#lists.isEmpty(documents)}" class="text-center">Try other search criteria.</h4>
    <div class="row">
        <th:block th:each="document : ${documents}">
            <div class="card border-dark m-1 ">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img th:src="@{'http://localhost:9095/image/?name=' + ${document.photo}}" class="card-img"
                             alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title" th:utext="${document.titre}"></h5>
                            <p class="card-text">Description:</p>
                            <p class="card-text" th:utext="${document.description}"></p>
                        </div>

                        <ul class="list-group list-group-flush card-body">
                            <li class="list-group-item">
                            <li class="list-group-item ">
                                <div class="row">
                                    <p class="col">Author:</p>
                                    <p class="col" th:utext="${document.author}"></p>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <p class="col">Year of issue:</p>
                                    <p class="col" th:utext="${document.yearOsIssue}"></p>
                                </div>
                            </li>
                            <li class="list-group-item ">
                                <div class="row">
                                    <p class="col">Number of pages:</p>
                                    <p class="col" th:utext="${document.numberOfPages}"></p>
                                </div>
                            </li>
                            <li class="list-group-item ">
                                <div class="row">
                                    <p class="col">Copy available:</p>
                                    <p class="col" th:utext="${document.copyAvailable}"></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </th:block>
    </div>

</div>
</body>
</html>
